@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

:root {
    --black: #0e0e0e;
    --purple: #8a1e61;
    --purple-light: #8a206133;
    --purple-hover: #74134e;
    --white: #f8f8f8;
    --white-grey: #acacac;
    --grey: #939393;
    --yellow: #ffa800;
    --green: #008000b9;
    --green-hover: #008000cf;
    --transparent-purple: #c963ac;
    --transparent-white: #c592b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 10px;
    color: var(--black);
    background-color: var(--white);
}
/* BORDER RAD */
.b-rad {
    border-radius: 10px 10px 10px 10px;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

h4 {
    font-size: 1.3rem;
    font-weight: 600;
}
h5 {
    font-size: 0.8rem;
    font-weight: 400;
}
h6 {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

.btn {
    display: inline-block;
    border: none;
    padding: 0.5rem 2.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 15px;
    text-decoration: none;
}

/* Primary button -Purple */
.btn-primary {
    background-color: var(--purple);
    color: var(--white);
    transition: all 5ms ease-in-out;
}
.btn-primary:hover {
    background-color: var(--purple-hover);
}
.btn-secondary {
    background-color: var(--white);
    color: var(--purple);
    border: 1.5px solid var(--purple);
    transition: all 5ms ease-in-out;
}
.btn-primary:hover {
    background-color: var(--purple-hover);
}
/* Secondary Button - Green */
.btn-orange {
    text-decoration: none;
    font-size: 1rem;
    color: var(--white);
    background-color: rgb(222, 65, 4);
    transition: all 5ms ease-in-out;
}
.btn-orange:hover {
    cursor: pointer;
    background-color: rgb(202, 58, 2);
}
.btn-green {
    text-decoration: none;
    font-size: 1rem;
    color: var(--white);
    background-color: rgb(4, 159, 37);
    transition: all 5ms ease-in-out;
}
.btn-green:hover {
    cursor: pointer;
    background-color: rgb(1, 139, 31);
}

.section {
    max-width: 1200px;
    margin: 1rem auto;
    padding: 2rem;
}
.ion-icon {
    width: 1.5rem;
    color: var(--purple);
    cursor: pointer;
}

.ionicon {
    width: 1.2rem;
    cursor: pointer;
}

.ion-icon-link {
    rotate: -30deg;
}
@media screen and (max-width: 1150px) and (min-width: 500px) {
    h1 {
        font-size: 4.8rem;
        font-weight: 700;
    }

    h2 {
        font-size: 4rem;
        font-weight: 700;
    }

    h3 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    h4 {
        font-size: 2rem;
        font-weight: 600;
    }
    h5 {
        font-size: 1.5rem;
    }
    h6 {
        font-size: 0.7rem;
        font-weight: 600;
    }
    p {
        font-size: 0.7rem;
        font-weight: 400;
    }
    .btn-green {
        font-size: 0.6rem;
    }
}
