.grid {
    display: grid;
}

.grid-col-4x-8x {
    grid-template-columns: 4fr 8fr;
}

.span-col-2x {
    grid-column: span 2;
}

.gap-1xy {
    gap: 1rem;
}
.vh-100 {
    height: 100vh;
}

.mb-1x {
    margin-bottom: 1rem;
}
.mb-2x {
    margin-bottom: 2rem;
}

.flex {
    display: flex;
    gap: 1rem;
}
.align-center {
    align-items: center;
}
.sticky {
    position: sticky !important;
    top: 0;
    z-index: 100;
}
