/* SPANS */
.next-span {
    margin-left: 1rem;
}
.prev-span {
    margin-right: 1rem;
}
.section-landing-page {
    height: 100vh;
}

/* LANDING PAGE */
.content {
    background: linear-gradient(0deg, #000000b3, #000000b3),
        url(../images/praava-front.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.landing-form-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 2rem;
    background-color: var(--white);
    width: 70%;
    margin: 0 auto;
    border-radius: 12px;
}
.form-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 2rem;
}

.landing-page {
    background: linear-gradient(0deg, #000000b3, #000000b3),
        url(../images/praava-front.jpg);
    min-height: 100vh;
}

.prava-logo {
    max-width: 14rem;
}

.form-title {
    font-size: 2rem;
    color: var(--purple);
}

.form-description {
    font-size: 1rem;
}

.initial-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    justify-content: center;
}

.initial-form-input-field {
    text-align: left;
}
.initial-form-input-field p {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: var(--purple);
}

.initial-form input {
    padding: 0.6rem 1rem;
    width: 20rem;
}
.initial-form input:focus {
    outline: 1px solid var(--purple);
}

/*END OF LANDING PAGE */

/* MAIN FORM */

/* FORM */
.review-form {
    background-color: #ffffff6f;
    padding: 2rem 1.2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.rating-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rating-item {
    margin: 0 5px;
    cursor: pointer;
}

.rating-item input {
    display: none;
}
.rating-item label img {
    width: 50px;
    transition: all 1s ease-in;
    cursor: pointer;
}
/* .rating-item label {
    font-size: 1.8rem;
    cursor: pointer;
    background-color: var(--white-grey);
    border-radius: 50%;
    color: var(--purple);
    font-weight: 500;
} */

.rating-item input:checked + label img {
    width: 90px;
}

.question {
    font-size: 1.1rem;
    font-weight: 600;
}

/* Multiselect */
.main-response-reason {
    text-align: left;
    /* MIGHT BE CHANGED LATER */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 0.5rem;
}

.select label {
    font-size: 1rem;
    font-weight: 500;
}
.select input {
    display: none;
}
/* FOR LABEL BORDER */
.select label {
    border: 2px solid var(--purple);
    border-radius: 6px;
    transition: all 5ms ease-in-out;
}
.select input:checked + label {
    background-color: var(--purple);
    color: var(--white);
}

/* TEST */
.w-100 {
    width: 100%;
}

/* screen 3 */
.form-heading {
    color: var(--purple);
}

.last-screen-selections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    text-align: left;
}

.selection {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.selection label {
    font-size: 1rem;
}

/* STYLE 2 */

.test {
    height: 2rem !important;
}

/* TEXT AREA */
.text-box {
    width: 100%;
}
.text-box textarea {
    min-width: 100%;
    max-width: 100%;
    resize: none;
    border-radius: 6px;
    padding: 1rem;
}
/* MULTIPLE PATIENT PAGE */

/* UPI CARD */
.upi-cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.upi-cards-container a {
    text-decoration: none !important;
}
.upi-card {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    cursor: pointer;
}

.upi-card-header {
    font-size: 1.2rem;
    color: var(--purple);
    margin-bottom: 0.3rem;
}

.upi-card p {
    color: var(--black);
    font-size: 0.8rem;
}

@media screen and (max-width: 450px) {
    .landing-form-container {
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
    }
}

@media screen and (max-width: 700px) and (min-width: 550px) {
    .grid-col-4x-8x {
        grid-template-columns: 1fr;
    }
    .form-steps {
        display: none;
    }
}
